.input {
    border-radius: 30px;
    background-color: #d9d9d96e;
    height: 30px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    width: 100%;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
  }
  
  input::placeholder {
    color: rgb(194, 194, 194);
  }
  
  .icon{
    position: absolute;
    margin-left: 15px;
    margin-top: 7px;
  }


  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 60%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 15px;
  margin-left: 20px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  display: flex;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

